{% extends 'emails/_base.html.twig' %}

{% block email_title %}{{ 'email.inactive_deleted.title'|trans(locale=ef_email_locale) }}{% endblock %}

{% block email_body %}
    <p>{{ 'email.common.greeting_anonymous'|trans(locale=ef_email_locale) }}</p>
    <p>{{ 'email.inactive_deleted.body'|trans({
        '%date%': deletedAt|ef_datetime(ef_email_locale|default('fr')),
        '%timezone%': 'email.common.paris_time'|trans(locale=ef_email_locale),
    }, locale=ef_email_locale)|raw }}</p>
    {% if wasVerified %}
        <p>{{ 'email.inactive_deleted.verified_hint'|trans(locale=ef_email_locale) }}</p>
    {% else %}
        <p>{{ 'email.inactive_deleted.unverified_hint'|trans(locale=ef_email_locale) }}</p>
    {% endif %}
    <p style="font-size: 0.85rem; color: #666;">{{ 'email.inactive_deleted.footer'|trans(locale=ef_email_locale) }}</p>
{% endblock %}
