{% extends 'emails/_base.html.twig' %}

{% block email_title %}{{ 'email.inactive_warning.title'|trans(locale=ef_email_locale) }}{% endblock %}

{% block email_body %}
    <p>{{ 'email.common.greeting'|trans({'%name%': user.firstName}, locale=ef_email_locale) }}</p>

    {% if not isVerifiedAccount %}
        <p>{{ 'email.inactive_warning.unverified'|trans(locale=ef_email_locale)|raw }}</p>
        <p>{{ 'email.inactive_warning.unverified_hint'|trans(locale=ef_email_locale) }}</p>
    {% elseif step == 1 %}
        <p>{{ 'email.inactive_warning.step1'|trans(locale=ef_email_locale)|raw }}</p>
        <p>{{ 'email.inactive_warning.step1_hint'|trans(locale=ef_email_locale) }}</p>
    {% else %}
        <p>{{ 'email.inactive_warning.step2'|trans(locale=ef_email_locale)|raw }}</p>
        <p style="color: #c00;">{{ 'email.inactive_warning.step2_alert'|trans(locale=ef_email_locale)|raw }}</p>
    {% endif %}

    {% if isVerifiedAccount %}
        <p style="font-size: 0.9rem; color: #666;">{{ 'email.common.also_in_messages'|trans(locale=ef_email_locale) }}</p>
    {% endif %}
{% endblock %}
